@import "lib/settings"
@import "lib/general"
@import "lib/font"

@import "lib/home"
@import "lib/header"
@import "lib/footer"
@import "lib/products"
@import "lib/contact"


.Cenicafe
  text-align: left
  margin: 22px 22px 0
  width: 110px
.Cenicafe-span
  font-size: .7rem
  margin-left: 22px
.iframe
  padding: 0 20px
.TabsMenu
  text-align: center
  & li
    display: inline-block
    vertical-align: middle
    padding: 0 5px
    opacity: .4
    max-width: 24%
    cursor: pointer
  & img
    width: 80%
  & li.active
    opacity: 1
    & img
      width: 100%


.Tabs li
  display: none
  &.active
    display: block

.mix
  margin-left: -3px
  display: none
  position: relative
  cursor: pointer
  width: 50%
  @include respond-to(middle)
   width: 25%

.mix figcaption
  @include transition(opacity .5s)
  top: calc(50% - 2.5rem)
  position: absolute
  width: 100%
  background-color: rgba(0, 0, 0, 0.77)
  text-align: center
  opacity: 0
  & hr
    box-sizing: content-box
    height: 0
    border-top: 1px dashed
    max-width: 85%
    border-bottom: none
    &:first-child, &:last-child
      margin: 1rem auto

.Recipes
  max-width: 100%



.Recipes-box
  position: relative

.mix:hover img
  @include filter(grayscale, 0)

.mix:hover figcaption
  opacity: 1

.Recipes-figure
  margin: 0
  & img
    margin-bottom: -6px
    width: 100%
    height: auto
    @include transition(all .5s)
    @include filter(grayscale, 100%)

.Recipes-h2
  text-align: center
  color: #E8891B
  background-color: black
  padding: 2.5rem 0 0
  font-size: 2rem
  letter-spacing: 2px

.Recipes-h3
  text-align: center
  color: #868686
  background-color: black
  padding: 0 0 2.5rem
  font-size: .8rem
  letter-spacing: 8px

.Recipes-chefs
  background: black
  border-top: 1px solid #E8891B
  position: relative
  & figure
    display: inline-block
    vertical-align: middle
    position: relative
    overflow: hidden
    margin: 0 -3px 0 0
    width: 100%
    cursor: pointer
    height: 33.3vh
    @include respond-to(small)
      width: calc(33% + 3px)
      border-right: dashed 1px #b2b2b7
      height: auto
    @include transition(all 1s)
    &:hover .Recipes-view
        bottom: 0
    &:last-child
      border-right: none
  & img
    width: 50%
    height: auto
    margin-bottom: -6px
    display: inline-block
    vertical-align: middle
    @include respond-to(small)
      width: 100%
      display: block
  & h3
    color: #E8891B
    font-weight: 100
    letter-spacing: 1px
    margin: 0

  & h4
    font-weight: bold
    font-size: 1.5rem
    margin: 0
    text-transform: uppercase
    line-height: .8em
    @include respond-to(small)
      font-size: 2.5rem


#Filters
  text-align: center
  padding: 12px
  background-color: black
  @include respond-to(small)
    text-align: right

#Filters
  & fieldset
    border: none
    margin: 0
    padding: 0
    display: inline-block

  & h4
    display: inline
  & select
    background-color: black
    color: #E8891B
    border: none
    width: 5rem
    @include respond-to(small)
      width: 7rem

.open .Recipes-chefsContent
  @include animate(open 1s 1 forwards alternate)
.Recipes-chefsContent
  display: inline-block
  margin: 0
  width: 48%
  text-align: center
  @include respond-to(small)
    display: block
    margin: 2rem 3rem
    width: 100%
    text-align: left


.Recipes-view
  position: absolute
  bottom: -2.5rem
  text-align: center
  width: 100%
  background-color: #E8891B
  line-height: 2.5rem
  font-weight: bold
  left: 0
  font-size: .9rem
  @include transition(bottom .5s)

.Recipes-chefs figure.open
  width: 100%
  & img
    max-width: 400px
    transform: translateX(-43vw)
    transition: all .5s
    @include transition(all .5s)
    @include respond-to(small)
      transform: translateX(calc(50vw - 25pc))
  & span
    bottom: 0

.Recipes-chefsDescription
  position: absolute
  left: calc(50vw + 2rem)
  width: 41vw
  font-size: .9rem
  text-align: justify
  top: 9rem
  opacity: 0
  display: none
  @include respond-to(small)
    display: block

.open .Recipes-chefsDescription
  opacity: 1

.Recipes-chefsBack
  top: 1rem
  right: 1rem
  position: absolute
  opacity: 0
  z-index: 1000

.Recipes-chefsBack.open
  @include animate(show 1s 1 forwards alternate)

.Recipes-chefs figure.close
  @include animate(close .5s 1 forwards alternate)
  & img
    max-width: 0
    @include transition(all .5s)

@include keyframes(close)

  99%
    width: 0
    height: 0
    position: static
  100%
    width: 0
    height: 0
    position: fixed

@include keyframes(open)

  50%
    @include transform( translateX 0 )
  100%
    -webkit-transform: translateX(calc(50vw - 1rem))

@include keyframes(show)

  80%
    opacity: 0
  100%
    opacity: 1

.RecipeDetail
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: black
  overflow-y: scroll
  z-index: 10000
  display: none

.RecipeDetail-header
  position: relative
  height: 100%
  width: 100%
  background-size: cover
  background-position: center
.RecipeDetail-bar
  max-width: 70rem
  width: 100%
  margin: auto
  padding: .8rem 0

.RecipeDetailBarBottom
  width: 100%
  position: absolute
  bottom: 0
  background: #E8891B
  & span
    display: block
    font-weight: 100
    font-size: 1rem
    letter-spacing: 1px
  & p
    font-weight: bold
    margin: 0
    font-size: .7rem
    letter-spacing: .3rem
    line-height: 1em
    @include respond-to(small)
      line-height: 1.5em
  & ul
    margin: auto
    max-width: 70rem
    padding: 1rem 0
  & li
    text-align: center
    display: inline-block
    width: calc(33% - 3px)
    border-right: 1px solid white
    vertical-align: middle
    &:last-child
      border-right: none
      & span
        display: inline-block
        vertical-align: middle
.RecipeDetail-headerContent
  background: black
#RecipeDetail-content
  width: 100%
  max-width: 70rem
  margin: auto
.RecipeDetail-footer
  margin: auto
  max-width: 70rem
#RecipeDetail-figure, .RecipeDetail-chef, .suscribe
  display: block
  vertical-align: top
  width: 100%
  min-height: 315px
  background: white
  margin: 0 -4px 0 0
  @include respond-to(small)
    display: inline-block
    width: 33.4%
#RecipeDetail-figure
  & img
    height: 315px
    text-align: center
    margin: auto
    display: block
.suscribe
  background: #E8891B
  &:before
    display: inline-block
    height: 315px
    vertical-align: middle
    margin-right: -1.25em
    content: ''
    width: 1em
  & h5
    font-size: 2.5rem
    text-align: center
    line-height: 1em
    margin: 0
  & button
    margin: 20px auto 0
    width: 250px
    display: block
    background-color: rgba(255, 255, 255, 0)
    border: 2px solid
    border-radius: .8rem
    padding: .5rem
    text-transform: uppercase
.suscribe-content
  display: inline-block
  vertical-align: middle
.RecipeDetail-chef
  &:before
    display: inline-block
    height: 315px
    vertical-align: middle
    margin-right: -1.25em
    content: ''
    width: 1em

.RecipeDetail-chefContent
  display: inline-block
  vertical-align: middle
  & h3
    color: black
    font-size: 3rem
    line-height: .8em
    text-transform: uppercase
    margin-left: 1.4rem
  & p
    margin: 1.4rem 1.4rem 0 1.4rem
    color: black
    font-size: 0.75rem
    text-align: justify
    line-height: .95rem
.st0
  fill: none
  stroke: #FFFFFF
  stroke-dasharray: 2
.RecipeDetail-bar h2
  display: inline-block
#closeX
  width: 70px
  float: right
  top: -2px
  position: relative
  cursor: pointer
  &:hover
    fill: red
#RecipeDetail-figure
  background: #F7F7F7
.st1
  fill: rgba(255, 255, 255, 0)
  stroke: #FFF
  stroke-width: 40
  stroke-miterlimit: 10
.cacaoSvg
  width: 20px

.ingredients
  margin: 2rem 0
  tr td:last-child
    border: none
  & td
    padding: 1rem
    border-right: 1px dashed #969696

  & li
    list-style: none
    padding: 0
    line-height: 1.2rem
    font-size: 0.9rem

#imageCocoa
  vertical-align: middle
  margin: 0 10px
  & img
    height: 35px
.RecipeDetail-body
  background: black


.loading
  width: 100%
  height: 100%
  background: rgba(0, 0, 0, 0.9)
  position: fixed
  top: 0
  left: 0
  display: none
  z-index: 10000

.RecipeDetail-body .RecipeDetail
  display: block
  position: relative
  overflow-y: auto

.news figure
  margin: auto
  max-width: 50%
  background-color: white
  border-radius: 50%
  padding: 1.5rem
  text-transform: uppercase
  position: relative
  @include respond-to(small)
    max-width: 30%
    margin: 0
    position: relative
  & date
    position: absolute
    top: 0
    left: 0
    text-align: center
    background-color: #E8891B
    border-radius: 50%
    line-height: 1rem
    padding: .8rem 0
    font-weight: 700
    height: 3.5rem
    width: 3.5rem
    & span
      display: block
      font-size: .8rem
.news
  margin: auto
  width: 92%
  padding-top: 0
  border-top: 4px double rgba(255, 255, 255, 0.5)
  border-bottom: 4px double rgba(255, 255, 255, 0.5)
  & li, & ul
    list-style: disc
  & a
    text-decoration: underline
  @include respond-to(small)
    padding-top: 40px
    width: 70%
    margin-top: 30px
    margin-right: 4%
  & figure
    & img
      border-radius: 50%
      position: relative
      top: 5px
  & img
    height: inherit
  & article
    position: relative
    margin-top: 5rem
    &:last-child
      margin-bottom: 5rem

.events
  width: 92%
  margin: 10px auto 0
  border-top: 4px double rgba(255, 255, 255, 0.5)
  border-bottom: 4px double rgba(255, 255, 255, 0.5)
  @include respond-to(small)
    margin-top: 30px
    width: 25%
    padding-top: 40px

.content-news
  width: 100%
  padding: 1rem
  position: relative
  @include respond-to(small)
    padding: 0 3rem
    width: 69%
  & div
    font-size: .85rem
    overflow-y: hidden
    max-height: 8rem
    @include transition(all .5s)

  & h2
    font-size: 1.5em
    line-height: 1em
    margin: 0 auto 0.5em auto
    font-weight: normal
    @include respond-to(small)
      font-size: 2.5em
.content-news, .news figure
  display: block
  vertical-align: top
  @include respond-to(small)
    display: inline-block

.newsAndEvent
  display: flex
  flex-direction: column
  @include respond-to(small)
    flex-direction: row
  & .events
    order: -1
    @include respond-to(small)
      order: 1




Main.newsAndEvent
  max-width: 75rem
  margin-bottom: 4.3rem
  display: flex
  @include respond-to(middle)
    padding: 0
.borderBottom
  background: white
  position: absolute
  bottom: 0
  width: 100%
  height: 2px
  right: 0
  @include respond-to(small)
    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 85%, rgba(255,255,255,1) 100%)
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(25%,rgba(255,255,255,1)), color-stop(85%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1)))
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 25%,rgba(255,255,255,1) 85%,rgba(255,255,255,1) 100%)
    background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 25%,rgba(255,255,255,1) 85%,rgba(255,255,255,1) 100%)
    background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 25%,rgba(255,255,255,1) 85%,rgba(255,255,255,1) 100%)
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 25%,rgba(255,255,255,1) 85%,rgba(255,255,255,1) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 )
    width: 85%
.lessNews
  position: absolute
  bottom: -1.2rem
  height: 2.7rem
  width: 2.7rem
  border-radius: 50%
  border: none
  background-color: white
  right: -5px
  z-index: 1000
  opacity: 0
  @include transition(all .7s)
  & svg
    position: relative
    top: 4px
    width: 1.2rem
    transform: rotateZ(180deg)
.moreNews
  position: absolute
  top: 24.1rem
  height: 2.7rem
  width: 2.7rem
  border-radius: 50%
  border: none
  background-color: white
  right: -.4rem
  @include respond-to(small)
    top: 14.6rem
  & span
    width: 80%
    height: 3px
    background-color: black
    display: block
    margin: auto
    &:first-child
      @include transition(all .5s)
      transform: rotateZ(90deg) translateX(3px)
.rotate
  transform: rotateZ(360deg) translateY(3px) !important

.heightDiv
  max-height: 200rem !important
  overflow: visible

.show
  opacity: 1
.events-contents
  background: rgba(0, 0, 0, 0.71)
  padding: 1.5rem 0
  & article
    padding: 0 2rem
  & h3
    font-size: 3rem
    text-align: center
  & p
    font-size: .8rem
    margin: .6rem 0
  & h4
    position: relative
    font-size: 1.6rem
    line-height: 1em
    margin-bottom: 0
    &:before
      content: "."
      font-size: 1.2em
      position: absolute
      top: -5px
      left: -15px
      vertical-align: middle
      color: #DA8331


//**********************************
.casa-luker , .a-su-medida
  margin: 4rem auto
  text-align: center
  max-width: 80rem
  & h2
    border-bottom: 1px dotted white
    margin-bottom: 2rem
    &.top
      @include respond-to(small)
        margin-top: 10rem
  & article
    display: block
    vertical-align: top
    @include respond-to(small)
     display: inline-block
    &:first-child
      width: 100%
      padding: 0 1rem
      @include respond-to(small)
        width: 35%
    &:last-child
      width: 100%
      padding: 0 1.5rem
      @include respond-to(small)
        width: 35%
        padding : 0
      & h2
        text-align: left
        margin: 1rem 0
        padding-left: 1rem
  & p
    padding: .2rem 1.7rem
    font-size: .8rem
    text-align: justify
    & a
      color: #fff
      text-decoration: underline
  & iframe
    max-width: 600px
    width: 100%
    height: 300px
    padding: 1.5rem

    background: rgb(38,38,38)
    background: -moz-linear-gradient(-45deg,  rgba(38,38,38,1) 0%, rgba(0,0,0,1) 51%, rgba(0,0,0,1) 51%, rgba(38,38,38,1) 100%)
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(38,38,38,1)), color-stop(51%,rgba(0,0,0,1)), color-stop(51%,rgba(0,0,0,1)), color-stop(100%,rgba(38,38,38,1)))
    background: -webkit-linear-gradient(-45deg,  rgba(38,38,38,1) 0%,rgba(0,0,0,1) 51%,rgba(0,0,0,1) 51%,rgba(38,38,38,1) 100%)
    background: -o-linear-gradient(-45deg,  rgba(38,38,38,1) 0%,rgba(0,0,0,1) 51%,rgba(0,0,0,1) 51%,rgba(38,38,38,1) 100%)
    background: -ms-linear-gradient(-45deg,  rgba(38,38,38,1) 0%,rgba(0,0,0,1) 51%,rgba(0,0,0,1) 51%,rgba(38,38,38,1) 100%)
    background: linear-gradient(135deg,  rgba(38,38,38,1) 0%,rgba(0,0,0,1) 51%,rgba(0,0,0,1) 51%,rgba(38,38,38,1) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#262626', endColorstr='#262626',GradientType=1 )

.cocoa-nose

  background: -moz-linear-gradient(left,  rgba(24,120,171,0) 50%, rgba(24,120,171,.7) 51%)
  background: -webkit-gradient(linear, left top, right top, color-stop(50%,rgba(24,120,171,0)), color-stop(51%,rgba(24,120,171,.7)))
  background: -webkit-linear-gradient(left,  rgba(24,120,171,0) 50%,rgba(24,120,171,.7) 51%)
  background: -o-linear-gradient(left,  rgba(24,120,171,0) 50%,rgba(24,120,171,.7) 51%)
  background: -ms-linear-gradient(left,  rgba(24,120,171,0) 50%,rgba(24,120,171,.7) 51%)
  background: linear-gradient(to right,  rgba(24,120,171,0) 50%,rgba(24,120,171,.7) 51%)

  border-radius: 50%
  border: 8px solid black
  height: 25rem
  width: 25rem
  margin: auto
  position: relative
  top: 2.5rem
  & h3
    font-size: 3rem
    line-height: .9em
    text-align: left
    border-top: 1px dashed #fff
    border-bottom: 1px dashed #fff
    margin: 0 5px .5rem 1.5rem
    padding: .7rem 0

  & span
    font-size: .9rem
    margin-left: 1.4rem

  &:before
    top: -12px
    left: -13px
    content: ''
    position: absolute
    width: calc(100% + 14px)
    height: calc(100% + 14px)
    background: rgba(255, 255, 255, 0)
    border-radius: 50%
    z-index: -1
    border: 5px solid
  & ul
    text-align: left
    margin-left: 3rem
    font-style: italic
    & li
      list-style: inherit
  & div
    display: inline-block
    vertical-align: middle
    width: 48.5%
    &:last-child
      width: 1%
      height: 100%
    &:nth-child(2)
      & h3
        font-weight: 100
        background: white
        color: #1E5E7D
        border: 3px double
        font-size: 1.4rem
        padding: .5rem .2rem
        margin: 0 33px 0.5rem .9rem

.Pagination
  margin: 4rem 0 .4rem
.Pagination-right
  float: right
  padding: 0 2rem
  & a:first-child , & a:last-child
    margin: 0 1rem
  & a, & .current
    margin-left: .6rem
    display: inline-block
    text-decoration: none
    color: white
  & .page-numbers
    background: #fff
    color: #000
    border-radius: 50%
    padding: 1px 7px 6px
    line-height: 1rem
    text-align: center
    font-size: 1.1rem

  & .current, .prev, .next
    color: white
    background: none
  & .prev, .next
    font-size: 1rem

.LukerWay
  max-width: 100vw
  & section
    background-size: cover
    background-position: center
    height: calc(100vh - 1rem)
    position: relative
    &:before
      content: ''
      height: calc(100vh - 1rem)
      display: inline-block
      margin-left: -4px
      vertical-align: middle

.LukerWay-header
  background-image: url("../images/head-img.jpg")

.LukerWay-cacao
  background-image: url("../images/cacao.jpg")

.LukerWay-term
  background-image: url("../images/seed.jpg")

.LukerWay-social
  background-image: url("../images/cacao-2.jpg")

.LukerWay-business
  background-image: url("../images/cacao-3.jpg")

.LukerWay-scientific
  background-image: url("../images/cacao-2.jpg")


section.socialNetwork
  background: rgba(255, 255, 255, 0.7)
  height: 30rem
  & ul
    display: inline-block
    vertical-align: top
    width: 100%
    & li
      display: inline-block
      vertical-align: top
      width: 33%
      padding: 0 2rem
    & h3
      font-size: 2.3rem
      padding: 2rem 0 .5rem
      border-bottom: 1px solid
      color: white

.LukerWay-headerContent, .LukerWay-scientificContent
  background: rgba(0, 0, 0, 0.7)
  display: inline-block
  width: 100%
  vertical-align: middle
  padding: 3rem
  & p
    border-top: 4px dotted white
    padding-top: .9rem
    max-width: 30rem
    font-size: .9rem
    line-height: 1.5em
    margin: 1rem auto
    & span
      display: block
      font-size: 1.4rem

  & h2
    font-size: 3.5rem
    max-width: 30rem
    line-height: 1em
    margin: 0 auto 1rem
    text-align: left


  & ul
    text-align: center
    & li
      margin: auto
      max-width: 30rem
      border-bottom: 2px dotted white
      width: inherit
      &:first-child
        border-top: 2px dotted white
      & a
        display: block
        padding: .6rem
        color: #DA8331

  & article, & ul
    display: inline-block
    vertical-align: middle
    width: 100%
    margin: auto
    @include respond-to(small)
      width: 49%

article.LukerWay-scientificContent
  width: 100%
  margin-left: 0
  height: 100%
  vertical-align: top
  @include respond-to(middle)
    width: 50%
    margin-left: 25%
  & h2
    font-size: 4rem
  &:before
    content: ''
    height: calc(100vh - 10rem)
    display: inline-block
    margin-left: -4px
    vertical-align: middle
    @include respond-to(middle)
  & div
    display: inline-block
    vertical-align: middle
    width: 100%




