@import "lib/settings"
@import "lib/general"
@import "lib/font"

@import "lib/home"
@import "lib/header"
@import "lib/footer"
@import "lib/products"
@import "lib/contact"


.Cenicafe
  text-align: left
  margin: 22px 22px 0
  width: 110px
.Cenicafe-span
  font-size: .7rem
  margin-left: 22px
.iframe
  padding: 0 20px
.TabsMenu
  text-align: center
  & li
    display: inline-block
    vertical-align: middle
    padding: 0 5px
    opacity: .4
    max-width: 24%
    cursor: pointer
  & img
    width: 80%
  & li.active
    opacity: 1
    & img
      width: 100%

.mix
  width: 25%
  margin-left: -3px
  display: none
  position: relative

.mix figcaption
  top: calc(50% - 17px)
  position: absolute
  width: 100%
  background-color: rgba(0, 0, 0, 0.77)
  text-align: center
  opacity: 0
.Recipes
  max-width: 100%

.Recipes-figure img
  cursor: pointer
  margin-bottom: -6px
  width: 100%
  height: auto
  @include filter(grayscale, 100%)

.Recipes-box
  position: relative

.mix:hover img
  @include filter(grayscale, 0)

.mix:hover figcaption
  opacity: 1

.Recipes-figure
  margin: 0


