@import "lib/settings"
@import "lib/general"
@import "lib/font"

@import "lib/home"
@import "lib/header"
@import "lib/footer"


.Product
  margin-bottom: 5rem
  text-align: center
  & li
    display: inline-block
    vertical-align: top
    width: 19.5%
  & span
    color: white 
    display: block
    font-size: .8rem